
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #333333;
    padding: 8px 0;
    
}

nav ul li {
    margin: 0 60px;
    color: #ffffff;
    list-style: none;
}

article {
    width: 700px;
    margin: auto;
}

.cursive {
    font-style: italic;
}

article h1 {
    font-weight: 700;
    font-size: 58px;
    margin: 120px 0 40px 0;
}

article h2 {
    font-weight: 700;
    font-size: 42px;
    margin: 60px 0 30px 0;
}

article h3 {
    font-weight: 700;
    margin: 60px 0 0px 0;
}

article p {
    text-indent: 36px;
}

 h1 + p ,
 h2 + p,
 h3 + p,
 ul + p,
 ol + p  {
    text-indent: 0px;
}

p + ul,
p + ol,
table {
    margin: 24px 0;
}

